@use "../../variables" as *;
.centers {
  margin-top: 80px;
  background-color: $bg;
  .container {
    .row {
      flex-direction: column;
      .centersTopSide {
        padding: 72px 43px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .centersStar {
          width: 22px;
          height: 36px;
        }
        .centersBalance {
          margin: 30px 0;
          width: 239px;
          height: 78px;
        }
        .centersTitle {
          width: 547px;
          font-size: 53px;
          margin: 5px 0 10px 0;
          color: $dimWhite;
          text-align: center;
        }
      }
    }
  }
  .centersBottomSide {
    background-color: $centersBg;
    padding: 120px 70px;
    margin-top: 120px;
  }
}

@media (max-width: 768px) {
  .centers {
    .centersBottomSide {
      background-color: $centersBg;
      padding: 50px 20px;
      margin-top: 120px;
    }
  }
}
