@use "../../variables" as *;
.discover {
  background-color: $bg;
  position: relative;
  .container {
    .row {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      .discoverBlockTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .discoverLineSvg {
          position: absolute;
          top: -18.5%;
          left: 48%;
          z-index: 1000;
        }
        .discoverBlock {
          position: relative;
          width: 400px;
          height: 400px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .line {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: auto;
            z-index: 1;
            &.lineRota {
              transform: translate(-50%, -50%) rotate(-90deg);
            }
          }
          .user {
            width: 27px;
            height: 27px;
            color: $lightBeige;
            margin-bottom: 6px;
          }
          svg {
            position: relative;
            z-index: 2;
            color: $lightBeige;
          }
          .discoverTitle {
            font-size: 22px;
            color: $lightBeige;
            margin-bottom: 21px;
            font-size: 400;
          }
          a {
            overflow: hidden;
            position: relative;
            z-index: 2;
            display: inline-block;
            margin-top: 20px;
            background-color: $linkBg;
            color: $lightBeige;
            padding: 12px 16px;
            margin-top: 48px;
            font-size: 12px;
            font-weight: 400;
            &:hover span {
              animation: slideUp 0.9s ease-in-out;
            }
            span {
              display: inline-block;
              margin-right: 5px;
            }
            span:nth-child(1) {
              animation-delay: 0s;
            }
            span:nth-child(2) {
              animation-delay: 0.1s;
            }
          }
        }
      }
      .patterBlock {
        width: 99.25vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        margin-top: 50px;
        img {
          width: 100%;
          height: 82px;
        }
      }
    }
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(-25px);
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  55% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// media
@media (max-width: 768px) {
  .discover {
    .container {
      .row {
        gap: 50px;
        .discoverBlockTop {
          flex-direction: column;
          margin-top: 90px;
          gap: 80px;
          .discoverBlock {
            width: 100%;
            height: 100%;
            .line {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 60%;
              height: auto;
              z-index: 1;
              &.lineRota {
                transform: translate(-50%, -50%) rotate(-90deg);
              }
            }
            .user {
              width: 27px;
              height: 27px;
              color: $lightBeige;
              margin-bottom: 6px;
            }
            svg {
              position: relative;
              z-index: 2;
              color: $lightBeige;
            }
            .discoverTitle {
              font-size: 12px;
              color: $lightBeige;
              margin-bottom: 0px;
              font-size: 400;
            }
            a {
              overflow: hidden;
              position: relative;
              z-index: 2;
              display: inline-block;
              margin-top: 20px;
              background-color: $linkBg;
              color: $lightBeige;
              padding: 12px 16px;
              margin-top: 48px;
              font-size: 10px;
              font-weight: 400;
              &:hover span {
                animation: slideUp 0.9s ease-in-out;
              }
              span {
                display: inline-block;
                margin-right: 5px;
              }
              span:nth-child(1) {
                animation-delay: 0s;
              }
              span:nth-child(2) {
                animation-delay: 0.1s;
              }
            }
          }
        }
        .patterBlock {
          width: 99.25vw;
          position: relative;
          left: 50%;
          right: 50%;
          margin-left: -50vw;
          margin-right: -50vw;
          margin-top: 30px;
          img {
            width: 100%;
            height: 82px;
          }
        }
      }
    }
  }
}
