@use "../../variables" as *;
.hero {
  background: linear-gradient($overlay), url(../../../img/bg.jpeg) center/cover;
  height: 100vh;
  position: relative;
  width: 100%;
  top: 0;
  .container {
    .row {
      height: 100vh;
      align-items: center;
      .center {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .heroText {
          color: $lightBeige;
          text-transform: uppercase;
          font-size: 11px;
          font-weight: 100;
        }
        .heroTitle {
          color: $lightBeige;
          text-transform: uppercase;
          font-size: 70px;
          margin: 30px 0;
        }
        .coffe {
          color: $lightBeige;
          width: 56px;
          height: 75px;
          margin-bottom: 20px;
        }
        .svgContain {
          position: absolute;
          top: 370px;
          z-index: 1000;
          height: 417px;

          svg {
            height: 417px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    .container {
      .row {
        .center {
          .svgContain {
            position: absolute;
            top: 326px;
            z-index: 1000;
            height: 417px;
            svg {
              height: 417px;
            }
          }
        }
      }
    }
  }
}
