@use "../../variables" as *;
.hero {
  background: linear-gradient($overlay), url(../../../img/bg.jpeg) center/cover;
  height: 100vh;
  position: relative;
  width: 100%;
  top: 0;
  .container {
    .row {
      height: 100vh;
      align-items: center;
      .center {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .coffe {
          color: $lightBeige;
          width: 56px;
          height: 75px;
        }
      }
    }
  }
}
