@use "../../variables" as *;
.ourOrigin {
  position: relative;
  .ourVideo {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
    #vide {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .ourLine {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
  }
  .ourSvg {
    position: absolute;
    top: 81%;
    left: 50%;
    z-index: 1000;
    height: 85vh;
    svg {
      height: 100%;
    }
  }
  .origin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: $whitedim;
    border-radius: 45%;
    height: 390px;
    width: 284px;
    .originContent {
      height: 390px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $bordo;
      .originTitle {
        width: 154px;
        font-size: 21px;
        margin-bottom: 10px;
        font-weight: 400;
        text-align: center;
      }
      .originText {
        font-size: 10.668px;
        text-align: center;
        font-weight: 400;
      }
      .leaf {
        position: absolute;
        bottom: 0;
        color: $bordo;
        width: 96px;
        height: 96px;
      }
    }
  }
}

@media (max-width: 768px) {
  .ourOrigin {
    height: 70vh;
    position: relative;
    .ourLine {
      position: absolute;
      top: 113px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10000;
      svg {
        width: 270px;
        height: 300px;
      }
    }
    .ourSvg {
      position: relative;
      top: 440px;
      left: 40%;
      display: none;
      z-index: 3;
      svg {
        width: 200px;
        height: 487px;
      }
    }
    .ourVideo {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;

      #vide {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .origin {
      height: 290px;
      width: 204px;
      .originContent {
        height: 290px;
      }
    }
  }
}
