@use "../../variables" as *;
.perfectFusion {
  position: relative;
  .ourVideo {
    width: 100%;
    position: relative;
    height: 100vh;
    margin-top: -10px;
    z-index: 1;
    #vide {
      width: 100%;
    }
  }
  .container {
    .row {
      .fusionLineSvg {
        position: absolute;
        top: -21%;
        left: 48%;
        z-index: 1000;
      }
      .fusionSvg {
        position: absolute;
        top: 120px;
        left: 35.5%;
        z-index: 1000;
      }
      .origin {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        background-color: $whitedim;
        border-radius: 45%;
        height: 390px;
        width: 284px;
        padding: 0 20px;
        .originContent {
          height: 390px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: $bordo;
          .originTitle {
            width: 154px;
            font-size: 21px;
            margin-bottom: 10px;
            font-weight: 400;
            text-align: center;
          }
          .originText {
            font-size: 12.668px;
            text-align: center;
            font-weight: 300;
            line-height: 1.3;
          }
          .leaf {
            position: absolute;
            bottom: 0;
            color: $bordo;
            width: 96px;
            height: 96px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .perfectFusion {
    position: relative;
    .ourVideo {
      width: 100%;
      position: relative;
      z-index: 1;
      overflow: hidden;
      #vide {
        width: 100%;
        height: 70vh;
        transform: scale(2.6);
      }
    }
    .origin {
      .originContent {
        .originTitle {
          font-size: 15px;
        }
        .originText {
          font-size: 10.668px;
        }
        .leaf {
          bottom: 50px;
          width: 66px;
          height: 66px;
        }
      }
    }
  }
}
