@use "../../variables" as *;
.rafined {
  background-color: $beige;
  height: 100vh;
  .container {
    .row {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      gap: 20px;
      height: 100vh;
      .rafineContext {
        width: 240px;
        text-align: center;
        .title {
          color: $brown;
          font-size: 21px;
          font-weight: 400;
        }

        .text {
          margin-top: 16px;
          font-size: 10.668px;
          color: $brown;
          line-height: 1.5;
        }

        .sun {
          width: 96px;
          height: 96px;
          margin-top: 16px;
        }
      }
      .img {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(1.9);
        mask-image: url(../../../img/file.svg);
        -webkit-mask-image: url(../../../img/file.svg);
        mask-position: center;
        -webkit-mask-position: center;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-size: 40%;
        -webkit-mask-size: 40%;

        #videHarvest {
          width: 400px;
          height: 400px;
          display: block;
        }
      }
      .rafineSvg {
        position: absolute;
        left: 25.5%;
      }
      .coffeBag {
        display: flex;
        flex-direction: column;
        padding: 50px;
        .bean {
          width: 30px;
          height: 30px;
          position: absolute;
          &.bean:nth-child(1) {
            top: 30px;
            right: 280px;
            width: 20px;
            height: 20px;
            transform: rotate(90deg);
          }
          &.bean:nth-child(2) {
            top: 60px;
            right: 230px;
          }
          &.bean:nth-child(3) {
            width: 25px;
            height: 25px;
            top: 100px;
            right: 280px;
            transform: rotate(90deg);
          }
          &.bean:nth-child(4) {
            width: 40px;
            height: 45px;
            top: 120px;
            right: 220px;
            transform: rotate(70deg);
          }
          &.bean:nth-child(5) {
            width: 20px;
            height: 25px;
            top: 180px;
            right: 270px;
          }
          &.bean:nth-child(6) {
            width: 30px;
            height: 35px;
            top: 240px;
            right: 250px;
          }
          &.bean:nth-child(7) {
            width: 20px;
            height: 20px;
            top: 210px;
            right: 220px;
            transform: rotate(120deg);
          }
          &.bean:nth-child(8) {
            width: 40px;
            height: 40px;
            top: 250px;
            right: 190px;
            transform: rotate(100deg);
          }
          &.bean:nth-child(9) {
            width: 45px;
            height: 45px;
            top: 290px;
            right: 240px;
            transform: rotate(10deg);
          }
          &.bean:nth-child(10) {
            width: 40px;
            height: 35px;
            top: 350px;
            right: 190px;
            transform: rotate(100deg);
          }
          &.bean:nth-child(11) {
            width: 20px;
            height: 25px;
            top: 400px;
            right: 250px;
          }
        }
        .bag {
          width: 164px;
          height: 190px;
          align-items: center;
          position: relative;
          bottom: -250px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .rafined {
    background-color: $beige;
    height: 100vh;
    .container {
      .row {
        flex-direction: column-reverse;
        gap: 20px;
        height: 100vh;
        .rafineContext {
          position: absolute;
          top: 500px;
          width: 240px;
          z-index: 9;
          display: flex;
          flex-direction: column;
          align-items: center;
          .title {
            font-size: 15px;
          }
          .text {
            margin-top: 16px;
            font-size: 10.668px;
            color: $brown;
            line-height: 1.5;
            text-align: center;
            width: 190px;
          }
        }
        .img {
          margin-top: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: scale(1.3);
          mask-image: url(../../../img/file.svg);
          -webkit-mask-image: url(../../../img/file.svg);
          mask-position: center;
          -webkit-mask-position: center;
          mask-repeat: no-repeat;
          -webkit-mask-repeat: no-repeat;
          mask-size: 40%;
          -webkit-mask-size: 40%;

          #videHarvest {
            width: 100%;
            height: 85%;
            display: block;
          }
        }
        .coffeBag {
          display: flex;
          flex-direction: column;
          padding: 50px;
          .bean {
            width: 30px;
            height: 30px;
            position: absolute;
            &.bean:nth-child(1) {
              display: none;
            }
            &.bean:nth-child(2) {
              top: 60px;
              right: 150px;
            }
            &.bean:nth-child(3) {
              width: 15px;
              height: 15px;
              top: 100px;
              right: 140px;
              transform: rotate(90deg);
            }
            &.bean:nth-child(4) {
              width: 18px;
              height: 15px;
              top: 90px;
              right: 190px;
              transform: rotate(70deg);
            }
            &.bean:nth-child(5) {
              width: 10px;
              height: 15px;
              top: 40px;
              right: 170px;
            }
            &.bean:nth-child(6) {
              width: 10px;
              height: 15px;
              top: 60px;
              right: 190px;
            }
            &.bean:nth-child(7) {
              display: none;
            }
            &.bean:nth-child(8) {
              width: 18px;
              height: 18px;
              top: 150px;
              right: 180px;
              transform: rotate(100deg);
            }
            &.bean:nth-child(9) {
              width: 18px;
              height: 18px;
              top: 20px;
              right: 190px;
              transform: rotate(10deg);
            }
            &.bean:nth-child(10) {
              width: 18px;
              height: 18px;
              top: 120px;
              right: 160px;
              transform: rotate(100deg);
            }
            &.bean:nth-child(11) {
              width: 10px;
              height: 15px;
              top: 150px;
              right: 150px;
            }
          }
          .bag {
            width: 133px;
            height: 154px;
            align-items: center;
            position: relative;
            bottom: 0px;
          }
        }
      }
    }
  }
}
