$overlay: #311f1d80;
$dimWhite: #fefcf7;
$lightBeige: #fefcf7;
$bordo: #341212;
$brown: #2c1712;
$brow: #5e4c47;
$whitedim: #f4f4eedd;
$beige: #ead7ca;
$obsidianBrown: #180d0a;
$softBrown: #56413cbe;
$orange: #ff652d;
$softOrange: #ff7c4c;
$hoverLink: hsla(43, 78%, 98%, 0.7);
$bg: #180d0a;
$linkBg: hsla(0, 0%, 100%, 0.15);
$textColor: hsla(19, 36%, 91%, 0.8);
$yellow: rgb(231 205 147);
$detailCoffee: #e9d3c299;
$detailBg: rgb(24 13 10);
$softBeige: #e9d3c2;
$darkBrown: #2f2522;
$brownSoft: #2c171299;
$softIvory: #e8d3c2;
$sliderHover: #2c17121a;
