$overlay: #311f1d80;
$dimWhite: #fefcf7;
$lightBeige: #fefcf7;
$bordo: #341212;
$brown: #2c1712;
$brow: #5e4c47;
$whitedim: #f4f4eedd;
$beige: #ead7ca;
$obsidianBrown: #180d0a;
$softBrown: #56413cbe;
$orange: #ff652d;
$hoverLink:hsla(43,78%,98%,.7);
