@use "./base";

// components
@use "./components/header";
@use "./components/footer";
@use "../scss/components/navigation";

// pages
// Home
@use "../scss/pages/Home/hero";
@use "../scss/pages/Home/ourOrigin";
@use "../scss/pages/Home/harvest";
@use "../scss//pages/Home/rafine";
@use "../scss/pages/Home/roastedBeans";
@use "../scss/pages/Home/perfectFusion";
@use "../scss/pages/Home/discover";
@use "../scss/pages/Home/products";
@use "../scss/pages/Home/coffeeDetails";
// Store
@use "../scss/pages/Store/store";
