@use "./base";

// components
@use "./components/header";
@use "./components/footer";
@use "../scss/components/navigation";
@use "../scss/components/customButton";
@use "../scss/components/loading";
@use "../scss/components/costomInfoSection";
@use "../scss/components/notFound";
@use "../scss/components/cartBuy";

// pages
// Home
@use "../scss/pages/Home/home";
@use "../scss/pages/Home/hero";
@use "../scss/pages/Home/ourOrigin";
@use "../scss/pages/Home/harvest";
@use "../scss//pages/Home/rafine";
@use "../scss/pages/Home/roastedBeans";
@use "../scss/pages/Home/perfectFusion";
@use "../scss/pages/Home/discover";
@use "../scss/pages/Home/products";
@use "../scss/pages/Home/coffeeDetails";
// Store
@use "../scss/pages/Store/store";
// contact
@use "../scss/pages/contact/contact";
// Centers
@use "../scss/pages/Centers/centers";
// Cart
@use "../scss/pages/Cart/cart";
