@use "./base";

// components
@use "./components/header";
@use "./components/footer";

// pages
@use "../scss/pages/Home/hero";
@use "../scss/pages/Home/ourOrigin";
@use "../scss/pages/Home/harvest";
@use "../scss//pages/Home/rafine";
@use "../scss/pages/Home/roastedBeans";
@use "../scss/pages/Home/perfectFusion";
