@use "../variables" as *;
.cartBuy {
  height: fit-content;
  padding: 90px 0;
  .container {
    .row {
      justify-content: center;
      .cartBuyTop {
        border: 1px solid $gray;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        gap: 30px;
        .cartBuyTitle {
          color: $lightBeige;
        }
        .cartBuyLeftSide {
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          .leftSideTitle {
            color: $lightBeige;
          }
          .cartProduct {
            background-color: $brown;
            padding: 24px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            .cartProductImg {
              width: 103px;
              height: 104px;
              margin-left: 24px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .cartProductName {
              width: 70%;
              padding: 24px;
              color: $text;
              font-size: 16px;
            }
            .cartProductPrice {
              color: $text;
              font-size: 20px;
              width: 30%;
            }
            .cartProductCountBtn {
              display: flex;
              align-items: center;
              gap: 20px;
              margin-right: 10px;
              .cartbutton {
                color: $lightBeige;
                width: 20px;
                height: 20px;
              }
              .cartProductCount {
                color: $lightBeige;
              }
            }
          }
          .cartBuyTotalPrice {
            color: $lightBeige;
          }
        }
        .cartBuyRightSide {
          width: 50%;
          .rigtSideTitle {
            color: $lightBeige;
            margin-bottom: 20px;
          }
          .cartBuyImg {
            border: 2px solid $gray;
            border-radius: 10px;
            width: 300px;
          }
          .cartBuyForm{
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
