@use "../variables" as *;
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
  .container {
    .row {
      align-items: center;
      padding: 24px 0;
      .menu {
        .menuIcon {
          display: none;
        }
      }
      .logo {
        width: 156px;
        height: 50px;
      }
      .navBar {
        width: 900px;
        display: flex;
        justify-content: center;
        .navList {
          display: flex;
          gap: 32px;
          .listItem {
            a {
              color: $dimWhite;
              font-size: 12px;
              font-weight: 400;
              text-transform: uppercase;
              &:hover {
                opacity: 0.6;
              }
            }
          }
        }
        .header--overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background: transparent;
        }
      }
      .cart {
        img {
          width: 19px;
          height: 24px;
        }
      }
    }
  }
}

// mobile
@media (max-width: 768px) {
  .header {
    background-color: $bg;
    .container {
      .row {
        flex-direction: column;
          align-items: end;
        .menu {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .menuIcon {
            display: block;
            color: $lightBeige;
          }
        }
        .logo {
          width: 156px;
          height: 50px;
        }
        .navBar {
          margin-top: 60px;
          .navList {
            flex-direction: column;
            gap: 42px;

            .listItem {
              a {
                font-size: 24px;
                &:hover {
                  opacity: 0.6;
                }
              }
            }
          }
          .header--overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: transparent;
          }
        }
      }
    }
  }
}
