@use "../variables" as *;
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
  .container {
    .row {
      align-items: center;
      padding: 24px 0;
      .logo {
        width: 156px;
        height: 50px;
      }
      .navBar {
        width: 900px;
        display: flex;
        justify-content: center;
        .navList {
          display: flex;
          gap: 32px;
          .listItem {
            a {
              color: $dimWhite;
              font-size: 12px;
              font-weight: 400;
              text-transform: uppercase;
              &:hover {
                opacity: 0.6;
              }
            }
          }
        }
        .header--overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background: transparent;
        }
      }
    }
  }
}
