@use "../variables" as *;
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
  height: 80px;
  .headerOvarley {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.174);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  .container {
    .row {
      align-items: center;
      height: 80px;
      .menu {
        .menuIcon {
          display: none;
        }
      }
      .logo {
        width: 156px;
        height: 50px;
      }
      .navBar {
        width: 900px;
        display: flex;
        justify-content: center;
        .navList {
          display: flex;
          align-items: center;
          gap: 32px;
          .listItem {
            a {
              color: $dimWhite;
              font-size: 12px;
              font-weight: 400;
              text-transform: uppercase;
              &:hover {
                opacity: 0.6;
              }
            }
          }
        }
        .header--overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background: transparent;
        }
      }
      .cart {
        position: relative;
        img {
          width: 25px;
          height: 29px;
        }
        .count {
          position: absolute;
          top: 8px;
          right: 8px;
          color: $detailBg;
        }
      }
    }
  }
}

// mobile
@media (max-width: 768px) {
  .header {
    background-color: $bg;
    .container {
      .row {
        flex-direction: column;
        justify-content: center;

        .menu {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .menuIcon {
            display: block;
            color: $lightBeige;
          }
        }
        .logo {
          width: 156px;
          height: 50px;
        }
        .navBar {
          width: 100%;
          background-color: $obsidianBrown;
          display: flex;
          position: absolute;
          top: 50px;
          left: 0;
          margin-top: 20px;
          padding: 30px 0;
          .navList {
            flex-direction: column;
            gap: 42px;
            .listItem {
              a {
                font-size: 24px;
                &:hover {
                  opacity: 0.6;
                }
              }
            }
          }
        }
      }
    }
  }
}
