@use "../variables" as *;
.navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 99999;
  .navigationIcon {
    width: 48px;
    height: 48px;
    margin: 12px;
    cursor: pointer;
    color: $brown;
  }
  &:hover > :not(:hover) {
    opacity: 0.5;
  }
}
