@use "../../variables" as *;
.cart {
  background-color: $bg;
  .container {
    .row {
      padding-top: 170px;
      flex-direction: column;
      .cartTopSide {
        .cartTitle {
          font-size: 30px;
          color: $softIvory;
          margin-bottom: 56px;
        }
      }
      .cartBottomSide {
        display: flex;
        flex-direction: column;
        align-items: center;
        .cartBottomSideText {
          margin: 48px 0;
          color: $softIvory;
          font-size: 16px;
        }
        .continueShoping {
          padding: 6px 24px;
          margin-top: 48px;
          color: $lightBeige;
          background-color: $gray;
          &:hover {
            background-color: $softgray;
          }
        }
      }
      .cartProducts {
        display: flex;
        justify-content: space-between;
        // leftSide
        .cartProductsLeftSide {
          .cartProductsLeftSideTitle {
            margin-bottom: 16px;
            font-size: 20px;
            color: $yellow;
          }
          .closeBtn {
            width: 30px;
            height: 30px;
            margin: 10px 0;
            cursor: pointer;
          }
          .cartList {
            display: flex;
            flex-direction: column;
            gap: 20px;
          }
          .cartProduct {
            background-color: $brown;
            padding: 24px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            .cartProductImg {
              width: 103px;
              height: 104px;
              margin-left: 24px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .cartProductName {
              width: 448px;
              padding: 24px;
              color: $text;
              font-size: 16px;
            }
            .cartProductPrice {
              color: $text;
              font-size: 20px;
            }
            .cartProductCountBtn {
              display: flex;
              align-items: center;
              gap: 20px;
              margin-right: 10px;
              .cartbutton {
                color: $lightBeige;
                width: 20px;
                height: 20px;
                cursor: pointer;
              }
              .cartProductCount {
                color: $lightBeige;
              }
            }
          }
        }
        // rightSide
        .cartProductsRightSide {
          .cartProductsRightSideTitle {
            margin-bottom: 16px;
            font-size: 20px;
            color: $yellow;
          }
          .cartProductTotalPrice {
            width: 347px;
            .cartProductTotalBlock {
              display: flex;
              justify-content: space-between;
              padding: 13px 4px;
              .cartProductTotalBlockPrice,
              .cartProductTotalBlockTitle {
                font-size: 12px;
                color: $text;
              }
              .cartProductTotalBlockEnd {
                font-size: 18px;
                color: $text;
              }
            }
          }
          .cartProductBuyBlock {
            margin-top: 20px;
            .buyCart {
              display: inline-block;
              padding: 10px 0;
              width: 100%;
              text-align: center;
              border: none;
              cursor: pointer;
              background-color: $orange;
              color: $lightBeige;
              border-radius: 8px;
              &:hover {
                opacity: 0.8;
              }
              &:active {
                transform: scale(0.8);
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .cart {
    .container {
      .row {
        padding-top: 170px;
        flex-direction: column;
        .cartTopSide {
          .cartTitle {
            font-size: 30px;
            color: $softIvory;
            margin-bottom: 56px;
          }
        }
        .cartBottomSide {
          display: flex;
          flex-direction: column;
          align-items: center;
          .cartBottomSideText {
            margin: 48px 0;
            color: $softIvory;
            font-size: 16px;
          }
          .continueShoping {
            padding: 6px 24px;
            margin-top: 48px;
            color: $lightBeige;
            background-color: $gray;
            &:hover {
              background-color: $softgray;
            }
          }
        }
        .cartProducts {
          display: flex;
          flex-direction: column;
          gap: 50px;
          // leftSide
          .cartProductsLeftSide {
            .cartProductsLeftSideTitle {
              margin-bottom: 16px;
              font-size: 20px;
              color: $yellow;
            }
            .cartList {
              display: flex;
              flex-direction: column;
              gap: 20px;
            }
            .cartProduct {
              background-color: $brown;
              padding: 24px;
              border-radius: 12px;
              display: flex;
              align-items: start;
              flex-direction: column;
              .closeBtn {
                width: 30px;
                height: 30px;
                margin: 10px 0;
              }
              .cartProductImg {
                width: 100%;
                height: 100%;
                margin-left: 0px;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .cartProductName {
                width: 100%;
                padding: 20px 0px;
              }
              .cartProductPrice {
                color: $text;
                font-size: 20px;
              }
              .cartProductCountBtn {
                display: flex;
                align-items: center;
                margin: 20px 0;
                flex-direction: row-reverse;
                .cartProductBtns {
                  margin: 0 10px;
                  padding: 10px 65px;
                  background-color: $beige;
                  font-size: 20px;
                }
                .cartProductCount {
                  color: $lightBeige;
                }
              }
            }
          }
          // rightSide
          .cartProductsRightSide {
            .cartProductsRightSideTitle {
              margin-bottom: 16px;
              font-size: 20px;
              color: $yellow;
            }
            .cartProductTotalPrice {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
